body {
			
	font-family: Georgia;
	background-color: #7a212e;
}

.tut {
	
	width:250px;
	height:250px;
}

video {
	width:360px;
}

div {

	padding:0px;
	margin:0px;
}

ul.nav {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav {
	width:20%;
    float: left;
}

li.nav a {

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h1 {
	text-align:center;
}

h2 {
	text-decoration:underline;
}

a {
	text-decoration: none;
}

a.link {
	position:absolute;
	right:10px;
}

li.nav a:hover {
    background-color: #111;
}

#header {
}

#tutcontent {
	visibility: hidden;
	height:0px;
	position: fixed;
	z-index: -1;
}

#navigation {
	margin:0px;
	padding:0px;
	width:100%;
}

.fixed {
	position: fixed;
  	top: 0;
  	left:0;
  	z-index: 1000;
  	width 100%;
}

.fixedTOC {
	position: fixed;
  	top: 46px;
  	left:15px;
  	z-index: 1000;

  	width 25px;
}

.static {

	position: static;
	z-index: 1000;
	left:0;
	width:25%;
}

.staticTOC {
	position: static;
	z-index: 1000;
	left:0;
}

#content {
	background-color: #f1f1f1;
}

.adjustContent {
	padding-top:50px;
	padding-left: 230px;
}

.fixContent {
	padding-top:0px;
}

#TOC {
	width:225px;
	padding:0px;
	margin:0px;

	text-align:left;
	vertical-align: top;
}

#chaps {
}

#tutorial {
}

#footer {
}

#headimg {
	width:350px;
}
hr {
	margin:0px;
	border-color: white;
}
